<p class="NewUsers-title"> Sign-in! </p>

<section class="UsersNew">

  <%= form_with url: sessions_path do |form| %>
    <div class="Form-section">
      <p class="FormInput-label"> email: </p>
      <%= form.email_field :email, class: "Form-input" %>
    </div>

    <div class="Form-section">
      <p class="FormInput-label"> password: </p>
      <%= form.password_field :password, class: "Form-input" %>
    </div>

    <div class="Form-section">
      <%= form.submit "Sign-in!", class: "Form-submit"%>
    </div>
  <% end %>

  <h3 class="Home-authenticate">
    New User ?
    <%= link_to "sign-up", new_user_path %>
  </h3>

</section>